<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>注册新账号</li>
      </ul>
    </div>
    <div class='inner'>
      <form id='signin_form' class='form-horizontal' action=<%= actionPath
      %> method='post'>
      <input type='hidden' name='_csrf' value='<%= csrf %>'/>
      <input type='hidden' name='isnew' value='1'/>

      <div class='control-group'>
        <label class='control-label'>通过 GitHub 帐号</label>

        <div class='controls'>
          <input type='submit' class='span-info' value="注册新账号">
        </div>
      </div>
      </form>

      <form id='signin_form' class='form-horizontal' action=<%= actionPath
      %> method='post'>
      <div class='control-group'>
        <label class='controls'>或者</label>
      </div>
      <div class='control-group'>
        <label class='control-label' for='name'>用户名</label>

        <div class='controls'>
          <input class='input-xlarge' id='name' name='name' size='30' type='text'/>
        </div>
      </div>
      <div class='control-group'>
        <label class='control-label' for='pass'>密码</label>

        <div class='controls'>
          <input class='input-xlarge' id='pass' name='pass' size='30' type='password'/>
        </div>
      </div>
      <input type='hidden' name='_csrf' value='<%= csrf %>'/>

      <div class='form-actions'>
        <input type='submit' class='span-primary' value='关联旧账号'/>
      </div>
      </form>
    </div>
  </div>
</div>
