<%- partial('sign/sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主頁</a><span class='divider'>/</span></li>
				<li class='active'>找回密碼</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='sep10'></div>
			<div class='sep10'></div>
			<% if (locals.error) { %>
			<div class="alert alert-error">	
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<strong><%= error %></strong>
			</div>
			<% } %>
			<form id='search_pass_form' class='form-horizontal' action='/search_pass' method='post'>
				<div class='control-group'>
					<label class='control-label' for='email'>電子郵箱</label>
					<div class='controls'>
						<% if (locals.email) { %>
						<input class='input-xlarge' id='email' name='email' size='30' type='text' value='<%= email %>' />
						<% } else { %>
						<input class='input-xlarge' id='email' name='email' size='30' type='text' />
						<% } %>
						<p class='help-block'>請輸入您注冊帳戶時使用的電子郵箱</p>
					</div>
					<input type='hidden' name='_csrf' value='<%= csrf %>' />
				</div>
				<div class='form-actions'>
					<input type='submit' class='btn' value='提交' />
				</div>
			</form>
		</div>
	</div>	
</div>
