<div id='sidebar'>
	<div class='panel'>
		<div class='header'>
			<span class='col_fade'>关于</span>
		</div>
		<div class='inner'>
			<p><%= config.description %></p>	
			<p>在这里你可以：</p>
			<ul>
				<li>向别人提出你遇到的问题</li>
				<li>帮助遇到问题的人</li>
				<li>分享自己的知识</li>
				<li>和其它人一起进步</li>
			</ul>
		</div>
	</div>
</div>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>登录</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='sep10'></div>
			<div class='sep10'></div>
			<% if(locals.error){ %>
			<div class="alert alert-error">	
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<strong><%= error %></strong>
			</div>
			<% } %>
			<form id='signin_form' class='form-horizontal' action='/signin' method='post'>
				<div class='control-group'>
					<label class='control-label' for='name'>用户名</label>
					<div class='controls'>
						<input class='input-xlarge' id='name' name='name' size='30' type='text' />
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='pass'>密码</label>
					<div class='controls'>
						<input class='input-xlarge' id='pass' name='pass' size='30' type='password' />
						<p class='help-block'> <a href='/search_pass'>我忘记了密码</a></p>
					</div>
				</div>
				<input type='hidden' name='_csrf' value='<%= csrf %>' />
				<div class='form-actions'>
					<input type='submit' class='btn' value='登录' />
				</div>
			</form>
		</div>
	</div>	
</div>
