<div class='cell'>
  <div class='user_avatar'>
    <a href='/user/<%= topic.author.name %>'>
      <img src='<%= topic.author.avatar_url %>' title='<%= topic.author.name %>' />
    </a>
  </div>

  <div class='topic_wrap'>
    <div class='title_wrap'>
      <a class='topic_title' href='/topic/<%= topic._id %>'><% if(topic.top){%>[置顶]<% } %><%= topic.title %></a>
    </div>
    <% if(topic.reply_count >0){ %>
      <a class='count fr' href='/topic/<%= topic._id %>#reply<%= topic.reply_count %>'><%= topic.reply_count %></a>
    <% } %>
    <div class='sep10'></div>
    <div class='sep5'></div>
    <span class='col_fade'>
      <!-- <div class='name_part'>
        <a class='dark' href='/user/<%= topic.author.name %>'><%= topic.author.name %></a> 
      </div> -->
      <div class='click_part'>
        点击数 <%= topic.visit_count %>
      </div>
      <% if(topic.reply){  %>
        <div class='reply_part'>
          <a class='dark' href='/user/<%= topic.reply.author.name %>'><%= topic.reply.author.name %> </a>
          回复于
          <%= topic.reply.friendly_create_at %>
        </div>
      <% }else{ %>
        <a class='dark' href='/user/<%= topic.author.name %>'><%= topic.author.name %> </a>
        <div class='reply_part'>
          创建于 <%= topic.friendly_create_at %>
        </div>
      <% } %>
    </span>
    <%- partial('tag/tag_in_abstract',{collection:topic.tags, as:'tag'}) %>
  </div>
</div>