<div class='cell'>

  <a class="user_avatar" href="/user/<%= topic.author.name %>">
    <img src="<%= topic.author.avatar_url %>"
      title="<%= topic.author.name %>"
    />
  </a>

  <span class="reply_count">
    <span class="count_of_replies" title="回复数">
      <%= topic.reply_count %>
    </span>
    <span class="count_seperator">/</span>
    <span class="count_of_visits" title='点击数'>
      <%= topic.visit_count %>
    </span>
  </span>

  <!--<%- partial('tag/tag_in_abstract',{collection:topic.tags, as:'tag'}) %>-->
  <a class='topic_title' href='/topic/<%= topic._id %>'>
    <% if (topic.top) { %>
      <span class='put_top'>置顶</span>
    <% } %>
    <%= topic.title %>
  </a>

  <% if (topic.reply) {%>
    <a class='last_time' href="/topic/<%= topic._id %><%- topic.reply ? '#' + topic.reply._id : '' %>">
      <%= topic.reply.friendly_create_at %>
    </a>
  <% } %>
  <% if (!topic.reply) {%>
    <span class='last_time'><%= topic.friendly_create_at %></span>
  <% } %>
</div>
