<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown 语法参考</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### 单行的标题</tt></li>
        <li><tt>**粗体**</tt></li>
        <li><tt>`console.log('行内代码')`</tt></li>
        <li><tt>```</tt> 包裹标记代码块</li>
        <li><tt>```js</tt> 在开始的位置标记编程语言</li>
        <li><tt>[内容](链接)</tt></li>
        <li><tt>![文字说明](图片链接)</tt></li>
      </ol>
      <span><a href='http://www.ituring.com.cn/article/775' target='_blank'>Markdown 文档</a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>话题发布指南</span>
    </div>
    <div class='inner'>
      <ol>
        <li>尽量把话题要点浓缩到标题里</li>
        <li>内容对标题做进一步说明，但不是必须的</li>
        <li>给话题选择合适的标签能增加被阅读的机会</li>
      </ol>
    </div>
  </div>

</div>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <% if(locals.action && action == 'edit'){ %>
        <li class='active'>编辑话题</li>
        <% }else{ %>
        <li class='active'>发布话题</li>
        <% } %>
      </ol>
    </div>
    <div class='inner post'>
      <% if(locals.edit_error){ %>
      <div class="alert alert-error"> 
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <% if(locals.error){ %>
      <div class="alert alert-error" >  
        <strong><%= error %></strong>
      </div>
      <% }else{ %>
      <% if (locals.action && action === 'edit') { %>
      <form id='create_topic_form' action='/topic/<%= topic_id %>/edit' method='post'>
      <% } else { %>
      <form id='create_topic_form' action='/topic/create' method='post'>
      <% } %>
        <fieldset>
          <textarea autofocus class='span9' id='title' name='title' rows='1'
            placeholder="请在此输入标题，字数控制在10到100个之间"
            ><%= locals.title || '' %></textarea>
          <div class='editor_buttons'></div>

          <div class='markdown_editor in_editor'>
            <div class='markdown_in_editor'>
              <textarea class='editor' name='t_content' rows='20'
                placeholder='用 Markdown 输入文章的内容'
                ><%= locals.content || '' %></textarea>
              <div class='editor_buttons'>
                <button id='submit_btn' type="submit" class='btn'>发布</button>
                <button class='btn action_preview'>预览</button>
              </div>
            </div>
            <div class='markdown_in_preview'>
              <div class='preview'></div>
              <div class='editor_buttons'>
                <button id='submit_btn' type="submit" class='btn'>发布</button>
                <button class='btn action_modify'>修改</button>
              </div>
            </div>
          </div>

          <input type='hidden' id='topic_tags' name='topic_tags' value=''></input>
          <input type='hidden' name='_csrf' value='<%= csrf %>' />
        </fieldset>
      </form>
    </div>
    <% } %>
  </div>  
</div>

<!-- ajaxupload -->
<!-- markdown editor -->
<%- Loader('/public/topic_edit.min.js')
  .js('/public/libs/ajax-upload/ajaxupload.js')
  .js('/public/libs/marked.js')
  .js('/public/javascripts/markdown_editor.js')
  .done(assets, config.site_static_host, config.mini_assets)
%>
<script>
$(function () {
  $('.tag_selectable').click(function(){
    $(this).toggleClass('tag_select');
  });

  $('#submit_btn').click(function(){
    var values=[];
    $('.tag_selectable').each(function(){
      if($(this).hasClass('tag_select')){
        values.push($(this).attr('tag_id'));
      }
    });
    $('#topic_tags').val(values);
    $('#create_topic_form').submit();
  });
});
</script>
