config.js
.cov
coverage
node_modules
.naeindex
public/user_data
coverage.html
.monitor

*.min.*.js
*.min.*.css
assets.json

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

*.log

.idea
