sudo: false

language: node_js

env:
  - CXX=g++-4.8

node_js:
  - 4
  - 5
  - stable

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

services:
  - mongodb
  - redis

before_install:
  - $CXX --version

script: make test-cov

after_success: npm i codecov && codecov
