<div id='sidebar'>
</div>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>所有標簽</span>
    </div>
    <div class='inner'>
      <% if(locals.tags && tags.length > 0 ){ %>
      <table class='table'>
        <thead>
          <th>序號</th>
          <th>名字</th>
          <th>編輯</th>
          <th>刪除</th>
        </thead>
        <tbody>
          <%- partial('tag/tag_can_edit',{collection:tags,as:'tag'}) %>
        </tbody>
      </table>
      <% }else{ %>
      <p>無標簽</p>
      <% } %>
    </div>
  </div>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>添加標簽</span>
    </div>
    <div class='inner'>
      <% if(locals.edit_error){ %>
      <div class="alert alert-error">	
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <form id='add_tag_form' class='form-horizontal' action='/tag/add' method='post'>
        <legend></legend>
        <div class='control-group'>
          <label class='control-label' for='name'>名字</label>
          <div class='controls'>
            <input class='input-xlarge' id='name' name='name' size='30' type='text' />
            <p class='help-block'>須為漢字和字母和數字組合</p>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='order'>序號</label>
          <div class='controls'>
            <select class='span2' name='order'>
              <% if(locals.tags && tags.length >= 0 ){ %>
              <% for(var i=0; i<=tags.length; i++){ %>
              <% if(i != tags.length){ %>
              <option value='<%= i+1 %>'><%= i+1 %></option>
              <% }else{ %>
              <option value='<%= i+1 %>' selected='selected'><%= i+1 %></option>
              <% } %>
              <% } %>
              <% } %>
            </select>
            <p class='help-block'>首頁標簽按此序號由小到大排序</p>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='background'>背景圖片</label>
          <div class='controls'>
            <input class='input-xlarge' id='background' name='background' size='20'
            type='text' />
            <p class='help-block'>標簽首頁背景圖片<p>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='description'>描述</label>
          <div class='controls'>
            <textarea class='input-xlarge' id='description' name='description' rows='4'></textarea>
          </div>
        </div>
        <input type='hidden' name='_csrf' value='<%= csrf %>' />
        <div class='form-actions'>
          <input type='submit' class='btn' value='添加' />
        </div>
      </form>
    </div>
  </div>
</div>


<% if(locals.current_user){ %>
<script type='text/javascript'>
  $(document).ready(function(){
    $('.delete_tag_btn').click(function(){
      if(confirm('確定要刪除此標簽嗎？')){
        window.location.href = $(this).attr('href');
      }
      return false;
    });
  });
</script>
<% } %>
