<tr>
    <td><%= tag.order %></td>
    <td><%= tag.name %></td>
    <td>
        <a href='/tag/<%= tag.name %>/edit'><img class='user_icon'
                                                 src='<%- config.site_static_host %>/public/images/doc_edit_icon&16.png'
                                                 title='编辑'/></a>
    </td>
    <td>
        <a class='delete_tag_btn' href='/tag/<%= tag.name %>/delete'><img class='user_icon'
                                                                          src='<%- config.site_static_host %>/public/images/trash_icon&16.png'
                                                                          title='删除'/></a>
    </td>
</tr>
