<div class='panel'>
  <div class='inner ads'>
    <a href="http://oneapm.com/events/ironman.html?hmsr=cnodejs.org&hmmd=图片&hmpl=官网%20平凡之路&hmkw=&hmci=" target="_blank" class="banner sponsor_outlink"
    data-label="oneapm">
      <img src="<%- staticFile('/public/images/oneapm2.jpg') %>">
    </a>

    <div class="sep10"></div>

    <a href="http://www.pengpeng.la/web/join.html" target="_blank" class="banner sponsor_outlink"
    data-label="pengpeng">
      <img src="<%- staticFile('/public/images/pengpeng1.jpg') %>">
    </a>

    <div class="sep10"></div>

    <a href="http://www.jobtong.com?utm_source=cnodejs.org&utm_medium=paid_banner&utm_campaign=ad" target="_blank" class="banner sponsor_outlink"
    data-label="jobtong">
      <img src="<%- staticFile('/public/images/jobtong2.jpg') %>">
    </a>

    <div class="sep10"></div>

    <a href="https://portal.qiniu.com/contest/demo2014" target="_blank" class="banner sponsor_outlink" data-label="qiniu">
      <img src="<%- staticFile('/public/images/qiniu_ad.png') %>">
    </a>

    <div class="sep10"></div>

    <a href="https://worktile.com?hmsr=https%3A%2F%2Fcnodejs.org%2F&hmmd=%E5%9B%BE%E7%89%87%E5%B9%BF%E5%91%8A&hmpl=&hmkw=&hmci=" target="_blank" class="banner sponsor_outlink" data-label="worktile">
      <img src="<%- staticFile('/public/images/worktile.jpg') %>">
    </a>

  </div>
</div>
