<%
  var ads = [
    {
      href: 'http://www.jiankongbao.com/',
      label: 'jiankongbao',
      img_src: '/public/images/jiankongbao-banner-3.png',
    },
    {
      href: 'https://coding.net/u/coding/p/marketing/topic/11769',
      label: 'coding-net',
      img_src: '/public/images/coding-net-logo-11.jpg',
    },
    {
      href: 'https://gitcafe.com/',
      label: 'gitcafe',
      img_src: '/public/images/gitcafe-banner-1.png',
    },
    {
      href: 'https://100offer.com/join/cnodejs',
      label: '100offer',
      img_src: '/public/images/100offer-banner-1.png',
    },
    {
      href: 'http://www.qiniu.com/event/8/beijing/?utm_campaign=sjr8&utm_source=cnodejs',
      label: 'qiniu-event',
      img_src: '/public/images/qiniu-banner-1.jpg',
    },
    {
      href: 'https://talk.ai/?s=cnodejs',
      label: 'teambition',
      img_src: '/public/images/teambition-logo-3.jpg',
    },
  ];

    var randomNum = (new Date()).getHours() % ads.length;

    ads = ads.slice(randomNum).concat(ads.slice(0, randomNum));
%>
<div class='panel'>
  <div class='inner ads'>

    <% ads.forEach(function (adObj, idx) { %>
      <% if (idx !== 0) { %>
        <div class="sep10"></div>
      <% } %>
      <a href="<%-adObj.href%>" target="_blank" class="banner sponsor_outlink"
    data-label="<%=adObj.label%>">
        <img src="<%- staticFile(adObj.img_src) %>">
      </a>
    <% }) %>
  </div>
</div>
