<div class='col_fade'>

  <p>
    <!--
    服务器搭建在
    <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank"
      class="sponsor_outlink" data-label="digitalocean">
      <img src="<%- staticFile('/public/images/digitalocean.png') %>" title="digitalocean"
      alt="UCloud云主机" width="92px"/>
    </a>
  ，
-->
    存储赞助商为
    <a href="http://www.qiniu.com/?ref=ionichina" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="<%- staticFile('/public/images/qiniu.png') %>" title="七牛云存储"
      alt="七牛云存储" width="115px"/>
    </a>
  </p>

</div>
