<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='moon'>
			<img src='<%- config.site_static_host %>/images/tag_icon&16.png' title='标签'/>
			<!-- CNode社区宣传通告 -->
			<span class="index_notify">社区消息：
			<a href="/topic/4fa69d90bac222c3780576d8" target="_blank">如何获得NodeAppEngine邀请码?</a> 
			| 
			<a href="/topic/4f4d9f007f999acb7c00af57" target="_blank">如何获得Node官方T-Shirt?</a> 
			| 
			<a href="/topic/4f17948d9f40a8335200518e" target="_blank">如何加入CNode社区?</a>
			</span>
			<% if (locals.current_user && current_user.is_admin) { %>
			<span class='fr'><a href='/tags/edit'><img src='<%- config.site_static_host %>/images/wrench_icon&16.png' title='编辑标签' /></a></span>
			<% } %>
		</div>
		<div class='moon_tags'>
			<% if (locals.tags && tags.length > 0) { %>
				<%- partial('tag/tag', tags) %>
			<% } else { %>
				<p>无标签</p>
			<% } %>
		</div>
		<div class='header'>
			<img src='<%- config.site_static_host %>/images/spechbubble_2_icon&16.png' title='话题'/>
			
			<% if (locals.current_user) { %>
			<a href='/topic/create' class='fr'><button class='btn btn-success fr' id='create_topic_btn'>发布话题</button></a>
			<% } %>
		</div>
		<% if (locals.topics && topics.length > 0) { %>
		<%- partial('topic/list', { 
			topics: topics,
			pages: pages,
			current_pages: current_page,
			base: keyword ? ('/?q=' + keyword) : '/' 
		}) %>
		<% } else { %>
		<div class='inner'>
			<p>无话题</p>
		</div>
		<% } %>
	</div>
</div>
