<div id='sidebar'>

  <div class='panel'>
    <% if (typeof(user) !== 'undefined' || typeof(current_user) !== 'undefined') { %>
    <div class='header'>
      <span class='col_fade'>个人信息</span>
    </div>
    <div class='inner'>
      <%- partial('user/card',{ object: typeof(user) === 'undefined' ? current_user : user, as: 'user' }) %>
    </div>
    <% } else { %>
    <div class='inner'>
      <p><%= config.description %></p>

      <div>
        您可以
        <a href='/signin'>登录</a>
        或
        <a href='/signup'>注册</a>
        , 也可以
        <a href="/auth/github">
          <span class="span-info">
            通过 GitHub 登录
          </span>
        </a>
      </div>
    </div>
    <% } %>
  </div>

  <% if (typeof(current_user) !== 'undefined') { %>
  <div class="panel">
    <div class='inner'>
      <a href='/topic/create' id='create_topic_btn'>
        <span class='span-success'>发布话题</span>
      </a>
    </div>
  </div>
  <% } %>

  <% if (typeof(current_user) === 'undefined' || !current_user.isAdvanced) { %>
    <%- partial('./_ads') %>
  <% } %>

  <% if (typeof(no_reply_topics) !== 'undefined') { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>无人回复的话题</span>
    </div>
    <div class='inner'>
      <% if (no_reply_topics.length > 0) { %>
      <ul class="unstyled">
        <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
      </ul>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (typeof(tops) !== 'undefined') { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>积分榜</span>
      &nbsp;
      <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
    </div>
    <div class='inner'>
      <% if (tops.length > 0) { %>
      <ol>
        <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>友情社区</span>
    </div>
    <div class='inner'>
      <ol class="friendship-community">
        <li>
          <a href="https://ruby-china.org/" target="_blank">
            <img src="<%- staticFile('/public/images/ruby-china-logo2.png') %>">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://golangtc.com/" target="_blank">
            <img src="<%- staticFile('/public/images/golangtc-logo.png') %>">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://phphub.org/" target="_blank">
            <img src="<%- staticFile('/public/images/phphub-logo.png') %>">
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>客户端二维码</span>
    </div>
    <div class='inner' id="app_download">
      <img width='200' src="data:image/gif;base64,R0lGODdhUgBSAIAAAAAAAP///ywAAAAAUgBSAAAC/4yPqcvtD6OctNqLs968+w+G4kiW5mkC6sqyRgsgqry+9THj8E7tfACj0XIu3dB3k+QYxFuTGdMFgVFor7poPqlWacvmWEa0Tuy0SwZzqUUxhLy1FdHRdv1uv8rLarribMTGNwF315dlmACoNuX2UHg4JyjkFYk3qHQZN1kZuGe5t/mG9Wf25an4I5qq1yAG6Bg6GIs6ijSbuKWbe5s01rvLyCssDEwCiUh5iBKmSYr6+gySJrhafEob/Ul4Kbsc6PMNytkazH0EW0abSbzG7pVObbEq2SUO7nzf/F2fXMu6ppG0Co52hcNXSuA2DAV5HWyHDte6X9uQQdmUbuEFav8WEWE8de2KvFR54D1TiJCguoEovZHEFHDgPk4Z8WUDWc3XvG45lcW8KelhBm2uZP5E4lIfxX8+S8kSGNTou4o6YyasWtJDtJEQTV5VmkmopZINb1HdKdZdT6svD2b9YNajL2s0pQ5FKpco0ERo7UZMytZlQ5F+va7t2pIpt0X+rm6di1NDWqd5TUXtF9ZyPrZcXx5p+ggyMnOYO2mcOBPwY8SqnJUe9RcarogGf7QaR5lS1K+HVfq8SXm3595Tj06MGxwv6qK6I7d1fi3xMZxxy56sOv1ya96f7xrjDF0tyuW2erVjPHb2huOu1UfHavsc85xkTT29jj604OtnxWtldsvXUtIdxRpt2AQI21qFdCYUUd29M15r1gnHD3bzRahRauTURZ4/GG6ooXYZymcPgfQFWB+FS5XI0XaddNThfVCxpNxKdsRYGYB7zXjfiMz8CGSQQg5JZJFGHolkkkouySQCBQAAOw==">
      <br />
      <a href="https://itunes.apple.com/cn/app/id954734793" target="_blank">iOS</a>/<a href="http://fir.im/ks4u" target="_blank">Android</a>
    </div>
  </div>

</div>
