<div id='sidebar'>
  <div class='panel'>
    <% if (locals.current_user) { %>
    <div class='inner'>
      <%- partial('user/card',{ object: current_user, as: 'user' }) %>
    </div>
    <% } else { %>
    <div class='inner'>
      <p><%= config.description %></p>
      <div class='sep10'></div>
      <div class='cen'>
        <a href='/signup'><button class='btn'>现在注册</button></a>
        <div class='sep10'></div>
        <span>已注册用户请<a class='light' href='/signin'> 登录</a></span>
      </div>
    </div>
    <% } %>
  </div>

  <% if (locals.tops) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>积分榜</span>
    </div>
    <div class='inner'>
      <% if (tops.length > 0) { %>
      <ol>
      <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>
   
  <% if (locals.hot_tags) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>  
      <span class='col_fade'>热门标签</span>
    </div>
    <div class='inner'>
      <% if (hot_tags.length > 0) { %>
      <%- partial('tag/tag_with_count', { collection: hot_tags, as: 'tag' }) %>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.hot_topics) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>热门话题</span>
    </div>
    <div class='inner'>
      <% if (hot_topics.length >0) { %>
      <ul class='unstyled'>
      <%- partial('topic/small', { collection: hot_topics, as: 'topic' }) %>
      </ul>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.no_reply_topics) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>无人回复的话题</span>
    </div>
    <div class='inner'>
      <% if (no_reply_topics.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
      </ul>
      <% } else {  %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>


  <% if (locals.stars) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>社区达人</span>
    </div>
    <div class='inner'>
      <% if (stars.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('user/star', { collection: stars, as: 'user' }) %>
      </ul>
      <a class='dark' href='/stars'>更多»</a>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>  
      <span class='col_fade'>相关站点</span>
    </div>
    <div class='inner'>
      <ul class='unstyled'>
        <li><a href='http://nodejs.org/' target='_blank'>Node 官方网站</a></li>
        <li><a href='http://party.cnodejs.net/' target='_blank'>Node Party</a></li>
        <li><a href='http://nodebeginner.org/index-zh-cn.html' target='_blank'>Node 入门</a></li>
        <li><a href='http://docs.cnodejs.net/cman/' target='_blank'>Node 中文文档</a></li>
      </ul>
    </div>
  </div>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>  
      <span class='col_fade'>友情社区 | 赞助商</span>
    </div>
    <div class='inner'>
      <a href='http://www.upyun.com/?utm_source=nodejs&utm_medium=link&utm_campaign=upyun&md=nodejs' target='_blank'><img src='<%- config.site_static_host %>/images/upyun_logo.png' /></a>
    </div>
    <div class='inner'>
      <a href='http://ruby-china.org/?utm_source=nodejs&utm_medium=link&utm_campaign=upyun&md=nodejs' target='_blank'><img src='<%- config.site_static_host %>/images/ruby_china_logo.png' /></a>
    </div>
  </div>
</div>
