<div id='sidebar'>

  <% if ( ! locals.current_user) { %>
  <div class=panel>
    <div class='inner'>
      <div id="social-login">
        <ul>
          <li><a href="/facebook/login">以 Facebook 登入</a>
        </ul>
      </div>
    </div>
  </div>
  <div class='sep10'></div>
  <% } %>

  <div class='panel'>
    <% if (locals.current_user) { %>
    <div class='inner'>
      <%- partial('user/card',{ object: current_user, as: 'user' }) %>
    </div>
    <% } else { %>
    <div class='inner'>
      <p><%- config.description %></p>
      <div class='sep10'></div>
      <div class='cen'>
        <a href='/signup'><button class='btn'>現在註冊</button></a>
        <div class='sep10'></div>
        <span>已註冊用戶請<a class='light' href='/signin'> 登入</a></span>
      </div>
    </div>
    <% } %>
  </div>

  <% if (locals.hot_tags) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>熱門標籤</span>
    </div>
    <div class='inner'>
      <% if (hot_tags.length > 0) { %>
      <%- partial('tag/tag_with_count', { collection: hot_tags, as: 'tag' }) %>
      <% } else { %>
      <p>無</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.hot_topics) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>熱門話題</span>
    </div>
    <div class='inner'>
      <% if (hot_topics.length >0) { %>
      <ul class='unstyled'>
      <%- partial('topic/small', { collection: hot_topics, as: 'topic' }) %>
      </ul>
      <% } else { %>
      <p>無</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.no_reply_topics) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>無人回覆的話題</span>
    </div>
    <div class='inner'>
      <% if (no_reply_topics.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
      </ul>
      <% } else {  %>
      <p>無</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (config.site_links && config.site_links.length > 0) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>相關站台</span>
    </div>
    <div class='inner'>
      <ul class='unstyled'>
        <% config.site_links.forEach(function (site) { %>
        <li><a href='<%= site.url %>' target='_blank'><%= site.text %></a></li>
        <% }); %>
      </ul>
    </div>
  </div>
  <% } %>

  <% if (locals.tops) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>積分榜</span>
      &nbsp;
      <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
    </div>
    <div class='inner'>
      <% if (tops.length > 0) { %>
      <ol>
      <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p>無</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (locals.stars) { %>
  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>社群達人</span> &nbsp;
      <a class='dark' href='/stars'>更多»</a>
    </div>
    <div class='inner'>
      <% if (stars.length > 0) { %>
      <ul class='unstyled'>
      <%- partial('user/star', { collection: stars, as: 'user' }) %>
      </ul>
      <% } else { %>
      <p>無</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <div class='sep10'></div>

  <% if (config.side_ads && config.side_ads.length > 0) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>友情連結 | 贊助商</span>
    </div>
    <% config.side_ads.forEach(function (ad) { %>
    <div class='inner'>
      <a href="<%- ad.url %>" title="<%= ad.text %>" target='_blank'>
        <img src="<%- ad.image %>" />
      </a>
    </div>
    <% }); %>
  </div>
  <% } %>

  <div class='sep10'></div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>RSS訂閱</span>
    </div>
    <div class='inner'>
    <a href="/rss"><img alt="RSS訂閱" src="/images/rss_icon&40.png" /></a>
    </div>
  </div>
</div>

