<div class='user_card'>
	<div>
		<% if(user.avatar){ %>
		<a href='/user/<%= user.name %>'><img class='user_avatar' src='<%= user.avatar %>' title='<%= user.name %>' /></a>
		<% }else{ %>
		<a href='/user/<%= user.name %>'><img class='user_avatar' src='<%- config.site_static_host %>/images/user_icon&48.png' title='<%= user.name %>' /></a>
		<% } %>
		<span class='sp10'></span>
		<div class='btn-group' id='user_menu'>
			<button class='btn user_name'><a class='dark' href='/user/<%= user.name %>'><%= user.name %></a></button>
			<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<% if (locals.current_user && current_user._id != user._id) { %>
				  <li>
						<% if (!locals.relation) { %>
							<span class='btn' id='follow_btn' action='follow'>加入关注</span>
						<% } else { %>
							<span class='btn' id='follow_btn' action='un_follow'>取消关注</span>
						<% } %>
					</li>
				<% } %>
				<li><a href='/my/tags/'><span class='big'><%= user.collect_tag_count %></span> 标签收藏</a></li>
				<li><a href='/my/topics'><span class='big'><%= user.collect_topic_count %></span> 话题收藏</a></li>
				<li><a href='/my/following'><span class='big'><%= user.following_count %></span> 关注</a></li>
				<li><a href='#'><span class='big'><%= user.score %></span> 积分</a><li>
				<li><a href='/my/follower'><span class='big'><%= user.follower_count %></span> 粉丝</a></li>
			</ul>
		</div>

		<div class='board cl'>
			<% if(user.messages_count > 0){ %>
			<div class='floor'><a href='/my/messages'><span class='big messages_count'><%= user.messages_count %></span> 未读消息</a></div>
			<% } %>
		</div>
	</div>
</div>

<% if (locals.current_user && current_user._id !== user._id) { %>
<script type='text/javascript'>
	$(document).ready(function(){

		$('#follow_btn').click(function(){
			var $me = $(this);
			var action = $me.attr('action');
			var params = {
				follow_id: '<%= user._id %>',
				_csrf: '<%- csrf %>'
			};
			$.post('/user/' + action, params, function(data) {
				if (data.status === 'success') {
					if (action === 'follow') {
						$me.html('取消关注');
						$me.attr('action','un_follow');
					} else {
						$me.html('加入关注');
						$me.attr('action','follow');
					}
					$me.toggleClass('btn-success');	
				}	
			}, 'json');	
		});
	});
</script>
<% } %>
