<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主頁</a><span class='divider'>/</span></li>
				<li class='active'>Top100 積分榜</li>
			</ul>
		</div>
		<div class='inner'>
			<% if(locals.users && users.length > 0){ %>
			<table class='table table-condensed table-striped'>
				<thead>
					<th>#</th>
					<th>用戶名</th>
					<th>粉絲數</th>
					<th>文章數</th>
					<th>積分</th>
				</thead>
				<tbody>
				<%- partial('user/top100_user',{collection:users,as:'user'}) %>			
				</tbody>
			</table>
			<% }else{ %>
			<p>還沒有用戶</p>	
			<% } %>
		</div>
	</div>	
</div>
