<div class='user'>
	<div>
		<a href="/user/<%= user.loginname %>"><img class='user_avatar' src="<%= user.avatar_url %>" title="<%= user.name %>" /></a>
		<span class='user_name'><a class='dark' href="/user/<%= user.loginname %>"><%= user.name %></a></span>
		<div class='sep5'></div>
		<span class='col_fade'><%= user.follower_count %> 粉絲</span>
		<span class='sp5'></span>
		<span class='col_fade'><%= user.following_count %> 關注</span>
	</div>
	<div class='sep10'></div>
	<div>
		<span><a href='mailto:<%= user.email %>'><img class='user_icon' src="<%- config.site_static_host %>/images/mail_icon&16.png" title='電子郵箱' /></a></span>
		<% if (user.url) { %>
		<span><a href="<%= user.url %>" target='_blank'><img class='user_icon' src="<%- config.site_static_host %>/images/paper_airplane_icon&16.png" title='個人網站' /></a></span>
		<% } %>
		<% if (user.weibo) { %>
		<span><a href="<%= user.weibo %>" target='_blank'><img class='user_icon' src="<%- config.site_static_host %>/images/twitter_2_icon&16.png" title='微博' /></a></span>
		<% } %>
	</div>	
</div>
