<% if (message.has_read) { %>
<div class='cell' message_id='<%= message._id %>'>
    <% } else { %>
    <div class='cell message' message_id='<%= message._id %>'>
        <% } %>
        <% if(message.type == 'reply'){ %>
		<span>
			<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a>
			回复了你的话题
			<a href="/topic/<%- message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
                message.topic.title %></a>
		</span>
        <% } %>
        <% if(message.type == 'reply2'){ %>
		<span>
			<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a>
			在话题
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
                message.topic.title %></a>
			中回复了你的回复
		</span>
        <% } %>
        <% if(message.type == 'follow'){ %>
	<span>
		<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a>
		关注了你
	</span>
        <% } %>
        <% if (message.type == 'at'){ %>
		<span>
			<a href="/user/<%= message.author.name %>" target='_blank'><%= message.author.name %></a>
			在话题
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
                message.topic.title %></a>
			中@了你
		</span>
        <% } %>

        <% if (message.has_read) { %>
        <span class="marked_icon"><img src='<%- config.site_static_host %>/public/images/checkmark_icon&16.png'
                                       title='消息已读'/></span>
        <% } else { %>
	<span class="marked_icon mark_read_btn">
		<img class='unread'
             src='<%- config.site_static_host %>/public/images/checkmark_icon&16.png'
             title='消息已读'
                />
	</span>
        <% } %>
    </div>
