<% if (message.has_read) { %>
<div class='cell' message_id='<%= message._id %>'>
  <% } else { %>
  <div class='cell message' message_id='<%= message._id %>'>
    <% } %>
    <% if(message.type == 'reply'){ %>
		<span>
			<a href="/user/<%= message.author.loginname %>" target='_blank'><%= message.author.loginname %></a>
			回复了你的话题
			<a href="/topic/<%- message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
        message.topic.title %></a>
		</span>
    <% } %>
    <% if(message.type == 'reply2'){ %>
		<span>
			<a href="/user/<%= message.author.loginname %>" target='_blank'><%= message.author.loginname %></a>
			在话题
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
        message.topic.title %></a>
			中回复了你的回复
		</span>
    <% } %>
    <% if(message.type == 'follow'){ %>
	<span>
		<a href="/user/<%= message.author.loginname %>" target='_blank'><%= message.author.loginname %></a>
		关注了你
	</span>
    <% } %>
    <% if (message.type == 'at'){ %>
		<span>
			<a href="/user/<%= message.author.loginname %>" target='_blank'><%= message.author.loginname %></a>
			在话题
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
        message.topic.title %></a>
			中@了你
		</span>
    <% } %>

  </div>
