body, p {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", "Wenquanyi Micro Hei", Arial, sans-serif;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
}
textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background: hsla(0,0%,0%,0)
}

pre {
  background: #fee9cc;
  border: 1px dashed #ccc;
  line-height: 22px;
}
code {
  padding: 0;
  border: none;
  line-height: 16px;
}
p code {
  background: none;
  color: hsl(0,0%,50%);
  margin: 0 1px;
  padding: 1px 4px;
}
div pre.prettyprint {
  background: none;
  font-size: 14px;
  border-radius: 3px;
  border-color: hsl(0,0%,86%);
  padding: 15px;
}
form {
  margin-bottom: 0;
}
textarea {
  margin-bottom: 0;
}
input, textarea {
  background: hsla(0,0%,0%,0);
}
