/* base */
#main p a {
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: middle;
}
#wrapper {
  padding-top: 34px;
}

#main {
  width: 1060px;
  margin: 0px auto;
  padding: 0px 0px 30px 0px;
  min-height:400px;
  position: relative;
}
#topic_list {
  margin: 0;
}
#content {
  padding: 0;
  width: 758px;
  float: left;
}
#sidebar {
  width: 290px;
  float: right;
  font-size: 14px;
}
#content .panel {
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 0px 1px hsl(0,0%,40%);
}
#sidebar .panel {
  background: hsla(0, 0%, 100%, 1);
}
#sidebar .header {
  background: hsl(0, 0%, 93%);
  color: hsl(202, 6%, 34%);
  font-weight: bold;
}
#footer {
  height: 200px;
  clear: both;
  background: hsla(0, 100%, 100%, 1);
  position: relative;
  box-shadow: 0px -1px 0px hsl(0,0%,90%);
  margin-top: 8px;
}
#footer_main {
  width: 1040px;
  margin: 0px auto;
  color: #e2e2e2;
  padding: 20px 0px;
}
#mark_all_messages_btn {
  margin: 5px 0px;
}

/* common */
.col_fade {
  color: hsl(0,0%,67%);
}
.header .col_fade{
  color: hsl(202, 6%, 34%);
}
.bold {
  font-weight: bold;
}
a.dark {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}
a.dark:link, a.dark:visited, a.dark:active {
  color: #666;
  text-decoration: none;
}
a.dark:hover {
  color: #385f8a;
}
a.light:link, a.light:visited, a.light:active {
  color: #005580;
  text-decoration: none;
}
a.light:hover {
  color: gray;
  text-decoration: none;
}
.unstyled li div {
  overflow: hidden;
}

.panel {
  margin-bottom: 8px;
  box-shadow: 0 0 1px hsl(0, 0%, 40%);
}
.panel .header {
  padding: 0px 10px;
  line-height: 28px;
  background-color: hsl(0,0%,93%);
}
.panel .moon {
  padding: 10px;
}
.panel .moon_tags {
  padding-left: 10px;
}
.panel .inner .unstyled li div {
  text-overflow: ellipsis;
}
.panel .inner {
  padding: 10px;
}
.panel .inner.nopadding {
  padding: 0px;
}
.panel>.cell:last-child {
  box-shadow: none;
}
.cell {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 1px 0px hsl(0, 0%, 90%);
  padding: 3px 10px;
}
.cell .cell {
  box-shadow: 0px -1px 0px hsl(0, 0%, 90%);
  padding: 3px 10px 0px 10px;
}
.cell:last-child {
  border-bottom: none;
}
.cell .block {
  float: left;
  text-align: center;
  font-size: 14px;
  color: hsl(0,0%,70%);
  line-height: 48px;
}
.cell .block.count {
  width: 70px;
  margin: 0px 8px;
}
.cell.message, .cell[message_id] {
  padding: 10px;
}
.cell.message a, .cell[message_id] a {
  max-width: 460px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
}
.cell.more{
  padding: 10px;
}
.last_time {
  position: absolute;
  color: hsl(0, 7%, 70%);
  top: 0px;
  right: 0px;
  font-size: 13px;
  line-height: 53px;
  padding: 0px 8px;
}
.board .floor {
  line-height: 24px;
}
.board a {
  color: #404040;
}
.board a:hover {
  color: #385f8a;
  text-decoration: none;
}
.big {
  font-size: 14px;
}
.messages_count {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;

  padding: 1px 5px;
  background-color: #46a546;
  color: white;
}
.edit_tag {
  margin-left: 8px;
}
.tag a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.tag a:hover {
  color: #ccc;
}
a.tag_big {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  padding: 2px 5px;
  margin: 0 8px 5px 0;
  display: inline-block;
  text-decoration: none;
}

.tag_selectable {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  display: inline-block;
  padding: 3px 5px;
  margin: 0px 10px 10px 0px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.tag_select {
  color: #0099ff;
}
.tag_in_topic {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  font-size: 14px;
  padding: 1px 3px;
  margin: 0px 10px 10px 0px;
  background: #bfbfbf;
  display: inline-block;
  cursor: pointer;
}
.tag_in_topic a {
  color: #fff;
  text-decoration: none;
}
.tag_in_topic a:hover {
  color: #0099ff;
}
.tag_in_abstract{
  color: #fff;
  background: hsl(221,28%,83%);
  font-size: 14px;
  font-weight: bold;
  padding: 1px 2px;
  text-decoration: none;
  margin: 0px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.tag_in_abstract:hover {
  background: hsl(221,28%,73%);
}
.tag_with_num {
  margin-right: 10px;
  display: inline-block;
}
.tag_num {
  font-size: 11px;
  margin-left: -10px;
}
.tag_highlight {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 2px;
}
.user_avatar img, .user_big_avatar img {
  border-radius: 20px;
  box-shadow: 0px 0px 6px hsla(0, 27%, 42%, 0.5);
  width: 40px;
  height: 40px;
}
a.user_avatar:hover {
  text-decoration: none;
}
.user_card .user_avatar {
  vertical-align: middle;
  width: 48px;
}
.user_card .user_name {
  font-size: 16px;
}
.cell .user_avatar {
}
.user_big_avatar {
  float: left;
  margin-right: 10px;
}
.user_big_avatar img {
  width: 40px;
  height: 40px;
}
.user_icon {
  margin-right: 7px;
  opacity: 0.4;
}
.user_icon:hover {
  opacity: 0.6;
}
.user {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

  width: 200px;
  height: 80px;
  border: 1px dashed #e2e2e2;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.user .user_avatar {
  max-width: 50px;
}
.user .user_name {
  font-size: 16px;
}
.reply_author {
  font-size: 14px;
}
.author_content{
  height: 48px;
}
.user_info {
  float: left;
  margin-left: 10px;
  height: 100%;
  line-height: 48px;
}
.user_action {
  float: right;
}
.reply_content {
  padding-left: 50px;
}
.reply_editor {
  height: 200px;
}
.reply2_btn {
  margin-right: 10px;
}
.reply2_area {
  margin-left: 25px;
}

.reply2_form {
  display: none;
}

.submit_control {
  height: 48px;
  line-height: 48px;
}
.topic_wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 48px;
  width: 500px;
}
a.topic_title {
  font-size: 16px;
  line-height: 40px;
}

.star_name {
  font-size: 14px;
}
img.unread {
  opacity: 0.1;
  cursor: pointer;
}

/* single */
#create_topic_btn {
  float: right;
}
.board {
  margin-top: 10px;
  width: 80%;
}
.tags_select {
  border: 1px dashed #ccc;
  padding: 10px;
}
.user_profile {
  margin-top: 20px;
  clear: left;
}
#collect_btn {

}
#backtotop {
  width: 24px;
  color: gray;
  padding: 10px 4px;
  display:none;
  position: fixed;
  cursor: pointer;
  text-align: center;
  z-index: 20;
}
.tabbable ul {
  max-height: 40px;
}
.markdown-text p {
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* markdown editor */
.wmd-button-bar {
  margin-left: 0px;
  background: Sliver;
}
.wmd-button-row {
  position: relative;
  height: 20px;
  margin: 0px 0px 5px 0px;
}
.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}
.wmd-button > span {
  background-image: url(../libs/pagedown/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.wmd-spacer {
  width: 1px; 
  height: 20px; 
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block; 
  list-style: none;
}
.wmd-spacer1 {
  left: 50px;
}
.wmd-spacer2 {
  left: 175px;
}
.wmd-spacer3{
  left: 300px;
}
.wmd-preview {
  width: 707px;
  border: 1px solid #ccc;
  padding: 4px 8px;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
textarea[id^=title] {
  resize: none;
}
textarea[id^=wmd-input] {
  height: 200px;
}
.topic-wmd-preview {
  height: 400px;
}
.wmd-preview {
  min-height: 225px;
}
.reply2-wmd-preview {
  width: 518px;
}
.wmd-prompt-background {
  background-color: Black;
}
.wmd-prompt-dialog {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #cccccc;
  background-color: #F5F5F5;
}
.put_top {
  background: hsl(0, 0%, 80%);
  padding: 1px 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  color: hsl(0,0%,100%);
}

/* custom bootstrap */
.navbar {
  margin-bottom: 0px;
  background-color: hsl(0, 0%, 93%);
  z-index: 9;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 1px hsl(0, 0%, 40%);
}
.navbar-inner {
  background: none;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
.navbar .container {
  width: 1060px;
  margin: 4px auto;
}
.navbar .brand {
  padding: 7px 0px 0px 20px;
  width: 143px;
}
.navbar .navbar-search {
  margin-top: 6px;
}
.navbar .search-query {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0px 0px 4px hsl(0, 12%, 76%);
  background: white url('../images/search.png') no-repeat 4px 4px;
  padding: 4px 5px 4px 22px;
  color: #666;
  border: 0px;
}
.navbar .search-query:hover {
  background-color: #fff;
  color: #666;
}
.navbar .search-query:focus, .navbar .search-query.focused {
  background-color: #fff;
  padding: 4px 5px 4px 22px;
  color: #000;
}
.navbar .nav .divider-vertical {
  background-color:#2b3741;
  border-right: 1px solid #2f3b46; 
}
.navbar .nav > li > a {
  text-shadow: none;
  font-weight: bold;
  color: hsl(210, 27%, 30%);
}
.form-actions {
  border-top: none;
  background-color: white;
}
.btn {
  padding: 3px 14px;
}
.breadcrumb {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
  box-shadow: none;
}

.nav-pills {
  margin: 0px 0px 10px 0px;
}
.nav-pills>li>a {
  padding: 2px 10px;
  line-height: 22px;
} 
.pagination {
  height: 40px;
  margin: 10px 0px 10px 10px;
}
.pagination a {
  line-height: 30px;
}
.topic_content h1,
.topic_content h2,
.topic_content h3 {
  line-height: 160%;
}
.topic_content h1 {
  margin: 23px 0;
}
.topic_content h2 {
  margin: 16px 0;
}
.topic_content h3 {
  margin: 14px 0;
}
.topic_content h4,
.topic_content h5,
.topic_content h6 {
  margin: 12px 0;
}
.topic_content ul,
.topic_content ol {
  padding: 0;
  margin: 0 0 0 35px;
}
.topic_content p,
.reply_content p,
.reply_form p {
  font-size: 14px;
  line-height: 20px;
  font-family: Consolas, Source Code Pro, Monaco, Ubuntu Mono, "Liberation Mono", Courier,
    'Wenquanyi Micro Hei Mono', monospace;
}
#main .topic_content p a.content_img,
#main .reply_content p a.content_img {
  color: hsl(0,0%,40%);
  box-shadow: 1px 1px 15px hsla(0, 21%, 60%, 0.6);
  display: block;
}
div[class$=content] > blockquote > p {
  font-size: 14px;
  line-height: 18px;
}
.index_notify {
  font-size: 14px;
}

/* about score on sidebar */
.top_score {
  color: gray;
  padding: 2px; 
}
.inner ol {
  margin: 4px 0px;
  list-style: none;
}
.top_score {
  margin-right: 10px;
}

/* format the additional msgs of topics */
div[class$=part] {
  display: inline-block;
}
.click_part {
  width: 80px;
}
.reply_part {
  width: 300px;
}
.topic_content{
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: none;
  line-height: 0;
  content: "";
}

textarea.editor {
  width: 98%;
}

#submit_btn {
  margin-top: 10px;
}

.marked_icon {
  float: right;
}

.topic_content table,
.reply_content table {
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

.topic_content table tr,
.reply_content table tr {
  border-top:1px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

.topic_content table tr:nth-child(2n),
.reply_content table tr:nth-child(2n) {
  background-color:#f8f8f8;
}

.topic_content table tr th,
.reply_content table tr th {
  font-weight:bold;
}

.topic_content table tr th,
.topic_content table tr td,
.reply_content table tr th,
.reply_content table tr td {
  border:1px solid #ccc;
  text-align:left;
  margin:0;
  padding:6px 13px;
}

.topic_content table tr th>:first-child,
.topic_content table tr td>:first-child,
.reply_content table tr th>:first-child,
.reply_content table tr td>:first-child {
  margin-top:0;
}

.topic_content table tr th>:last-child,
.topic_content table tr td>:last-child,
.reply_content table tr th>:last-child,
.reply_content table tr td>:last-child {
  margin-bottom:0;
}