<div class='cell reply_area reply_item' id="reply<%= indexInCollection+1 %>" reply_id="<%- reply._id %>">
  <a id="<%- reply._id %>"></a>
  <div class='author_content'>
    <div class='user_avatar block'>
      <a href="/user/<%= reply.author.name %>"><img src="<%= reply.author.avatar_url %>" title="<%= reply.author.name %>" /></a>
    </div>
    <div class='user_info'>
      <span class='reply_author'>
        <a class='dark' href="/user/<%= reply.author.name %>"><%= reply.author.name %>
        </a>
      </span>
      <span class='col_fade'>
        <a href="#<%- reply._id %>"><%= reply.friendly_create_at %></a>
      </span>
    </div>
    <div class='user_action fr'>
      <span class='col_fade'>#<%= indexInCollection + 1 %></span>
      <% if(locals.current_user && current_user._id.toString() == reply.author._id.toString()) { %>
        <a href='javascript:void(0);' class='delete_reply_btn'>
          <img class='user_icon' src="<%- config.site_static_host %>/images/trash_icon&16.png" title='删除' />
        </a>
      <% } %>
      <span>
        <% if(locals.current_user){ %>
          <a href='javascript:void(0)' class='dark reply2_btn'>回复</a>  
        <% } %>
        <!--<% if(reply.replies.length>0){ %>
         <span class='col_fade'>{<%= reply.replies.length %>}</span>
        <% } %>-->
      </span>
    </div>
  </div>
  <!-- <div class='sep5'></div> -->
  <div class='reply_content'>
  <%- markdown(reply.content) %>
  </div>
  <div class='cl'>
    <!-- <div class='sep5'></div> -->
    <div class='reply2_area'>
      <% if (reply.replies.length >0) { %>
        <%- partial('reply/reply2',{collection: reply.replies, as: 'reply2'}) %>
      <% } %>
      <% if (locals.current_user) { %>
      <form class='reply2_form' action='/<%= topic._id %>/reply2' method='post'>
        <input type='hidden' name='_csrf' value='<%- csrf %>' />
        <input type='hidden' name='reply_id' value='<%- reply._id %>' />
        <textarea class='span8 editor reply_editor' id="reply2_editor_<%- reply._id %>" name='r2_content' rows='4'></textarea>
        <p style="margin-top: 10px">
          <button class='btn reply2_submit_btn' type="submit" data-id='<%= reply._id %>'>回复</button>
          <span class='sp10'></span>
          <span class='col_fade'>Ctrl+Enter 快捷回复</span>
        </p>
      </form>
      <% } %>
    </div>
  </div>
</div>
