<div class='cell reply2_item' reply_id='<%= reply2._id %>'>
  <div class='author_content'>
    <a id="<%- reply2._id %>"></a>
    <div class='user_avatar block'>
      <a href="/user/<%= reply2.author.name %>">
        <img src="<%= reply2.author.avatar_url %>" title="<%= reply2.author.name %>" />
      </a>
    </div>
    <div class='user_info'>
      <span class='reply_author'><a class='dark' href="/user/<%= reply2.author.name %>"><%= reply2.author.name %></a></span>
      <span class='col_fade'>
        <a href="#<%- reply2._id %>"><%= reply2.friendly_create_at %></a>
      </span>
    </div>
    <div class='user_action'>
      <% if (locals.current_user && current_user._id.toString() == reply2.author._id.toString()) { %>
        <a href='javascript:void(0)' class='delete_reply2_btn'>
          <img class='user_icon' src="<%- config.site_static_host %>/public/images/trash_icon&16.png" title='删除' />
        </a>
      <% } %>
      <span>
        <% if (locals.current_user) { %>
          <a href='javascript:void(0)' class='dark reply2_at_btn'>回复</a>  
        <% } %>
      </span>
    </div>
  </div>
  <div class='reply_content'>
    <%- markdown(reply2.content) %>
  </div>
</div>
