<div id='sidebar'>
</div>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>关于</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='topic_content'>
				<h3>关于</h3>
				<p></p>
				<p>CNodeJS.ORG为国内最专业的Node.JS开源技术社区，致力于Node.JS的技术研究。</p>
				<p>CNode社区由一批热爱Node技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对Node感兴趣的朋友加入我们（发邮件到<a href='mailto:nodejs@126.com'>nodejs@126.com</a>）。</p>
			</div>
		</div>
	</div>	
</div>
