<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主頁</a><span class='divider'>/</span></li>
				<li class='active'>關于</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='topic_content'>
				<h3>關于</h3>
				<p></p>
				<p>CNodeJS.ORG為國內最專業的Node.JS開源技術社區，致力于Node.JS的技術研究。</p>
				<p>CNode社區由一批熱愛Node技術的工程師發起，目前已經吸引了互聯網各個公司的專業技術人員加入，我們非常歡迎更多對Node感興趣的朋友加入我們（發郵件到<a href='mailto:nodejs@126.com'>nodejs@126.com</a>）。</p>
			</div>
		</div>
	</div>	
</div>
