<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>关于</h3>
      <hr/>
      <div class="topic_content">
        <p>cnodejs.org 为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>

        <p>CNode 社区由一批热爱 Node.js 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Node.js 感兴趣的朋友。</p>

        <p>社区目前由 <a href="http://cnodejs.org/user/alsotang">@alsotang</a> 在维护，有问题请联系：<a
                href="https://github.com/alsotang">https://github.com/alsotang</a></p>
      </div>
    </div>
  </div>
</div>
