<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>FAQ</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>FAQ</h3>
      <hr/>
      <div class="topic_content">
        <p>A：CNode 社区和 Node Club 是什么关系？</p>

        <p>Q：Node Club 是一个用 Node.js 和 MongoDB 开发的开源社区软件，CNode 是基于 Node Club 的 Node.js 中文技术社区。</p>
      </div>
    </div>
  </div>
</div>
