<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>Node.js 新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## Node.js 入门

《**快速搭建 Node.js 开发环境以及加速 npm**》

http://fengmk2.com/blog/2014/03/node-env-and-faster-npm.html

《**Node.js 包教不包会**》

https://github.com/alsotang/node-lessons

《**ECMAScript 6入门**》

http://es6.ruanyifeng.com/

《**七天学会NodeJS**》

https://github.com/nqdeng/7-days-nodejs

## Node.js 资源

《**前端资源教程**》

https://cnodejs.org/topic/56ef3edd532839c33a99d00e

《**国内的 npm 镜像源**》

http://cnpmjs.org/

《**node weekly**》

http://nodeweekly.com/issues

《**node123-_node.js中文资料导航_**》

https://github.com/youyudehexie/node123

《**A curated list of delightful Node.js packages and resources**》

https://github.com/sindresorhus/awesome-nodejs

《**Node.js Books**》

https://github.com/pana/node-books

## Node.js 名人

《**名人堂**》

https://github.com/cnodejs/nodeclub/wiki/%E5%90%8D%E4%BA%BA%E5%A0%82

## Node.js 服务器

新手搭建 Node.js 服务器，推荐使用无需备案的 [DigitalOcean(https://www.digitalocean.com/)](https://www.digitalocean.com/?refcode=eba02656eeb3)

*/
        })) %>
      </div>
    </div>
  </div>
</div>
