<%- partial( '../sidebar') %>


  <div id='content'>
    <div class='panel'>
      <div class='header'>
        <ul class='breadcrumb'>
          <li><a href='/'>主页</a>
            <span class='divider'>/</span>
          </li>
          <li class='active'>时间线</li>
        </ul>
      </div>

      <div class='inner topic'>

        <h1 style="text-align: center;">Ionichina中文社区成长时间线</h1>
        <div class="history">
          <div class="history-date">
            <ul>
              <h2>
                <a href="#nogo">2015年</a>
              </h2>

              <li>
                  <h3>04.11
                      <span>2015</span>
                  </h3>
                  <dl>
                      <dt>服务器及数据迁移到 Ucloud 云服务器上
                      </dt>
                  </dl>
              </li>

                <li>
                    <h3>03.27
                        <span>2015</span>
                    </h3>
                    <dl>
                        <dt>得到<a href="http://www.ucloud.cn" target="_blank">Ucloud</a>云服务器赞助
                        </dt>
                    </dl>
                </li>


              <li>
                <h3>03.02
                  <span>2015</span>
                </h3>
                <dl>
                  <dt>得到时尚时尚最时尚的<a href="http://www.qiniu.com/?ref=ionichina" target="_blank">七牛云</a>存储赞助
                    <span>将会把静态文件全部迁移到七牛，来加快访问速度</span>
                  </dt>
                </dl>
              </li>

              <li>
                <h3>02.27
                  <span>2015</span>
                </h3>
                <dl>
                  <dt>
                    1.启用正式域名<a href="http://ionichina.com" target="_blank">http://ionichina.com</a>
                    <br/>
                    <br/> 2.增加 Ionichina 中文社区成长时间线
                    <span>
                      说明：直接拿得 <a href="http://golangtc.com/timeline" target="_blank">Golang社区</a> 的时间线，求一前端大神给做一个自己的
                    </span>
                    <br/> 3.新建了一个QQ交流群: 127395584
                    <span>请将得到解决的问题在社区中分享给更多地人</span>
                  </dt>
                </dl>
              </li>



              <li>
                <h3>02.14
                  <span>2015</span>
                </h3>
                <dl>
                  <dt>Ionichina中文社区启动
                    <span>网址：<a href="http://openionic.com" target="_blank">http://openionic.com</a>
                    </span>
                    <span>说明：直接拿<a href="https://github.com/cnodejs/nodeclub/">nodeclub</a>搭建的社区,fork了一份儿放在了<a href="https://github.com/IonicChina/nodeclub">这里</a>
                    </span>
                  </dt>
                </dl>
              </li>





            </ul>
          </div>
        </div>

      </div>


    </div>
  </div>
